In [1]:
#创建Series
import pandas as pd
import numpy as np

# 创建一个空的系列
s = pd.Series()
# 从ndarray创建一个Series
data = np.array(['张三','李四','王五','赵柳'])
s = pd.Series(data)
s = pd.Series(data,index=['100','101','102','103'])
# 从字典创建一个Series
data = {'100' : '张三', '101' : '李四', '102' : '王五'}
s = pd.Series(data)
# 从标量创建一个Series
s = pd.Series(5, index=[0, 1, 2, 3])

C:\Users\40011\AppData\Local\Temp\ipykernel_3792\964388802.py:6: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [2]:
# 访问Series中的元素
# 使用索引检索元素
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s[0],s[:3], s[-3:],sep='\n')
# 使用标签检索数据
print(s['a'], s[['a','c','d']],sep='\n')
print(type(s['a']))
print(type(s[['a','b','c']]))

1
a    1
b    2
c    3
dtype: int64
c    3
d    4
e    5
dtype: int64
1
a    1
c    3
d    4
dtype: int64
<class 'numpy.int64'>
<class 'pandas.core.series.Series'>

In [3]:
#日期类型数据处理
# pandas识别的日期字符串格式
dates = pd.Series(['2011', '2011-02', '2011-03-01', '2011/04/01', 
                   '2011/05/01 01:01:01', '01 Jun 2011',
                   '20110701','2011/8/1'])


# to_datetime() 转换日期数据类型
dates = pd.to_datetime(dates)
print(dates)
print(dates.dtype)
print(type(dates))
# 获取时间的某个日历字段的数值
print(dates.dt.day)

0   2011-01-01 00:00:00
1   2011-02-01 00:00:00
2   2011-03-01 00:00:00
3   2011-04-01 00:00:00
4   2011-05-01 01:01:01
5   2011-06-01 00:00:00
6   2011-07-01 00:00:00
7   2011-08-01 00:00:00
dtype: datetime64[ns]
datetime64[ns]
<class 'pandas.core.series.Series'>
0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
dtype: int64

In [4]:
#日期运算
# datetime日期运算
delta = dates - pd.to_datetime('1970-01-01')
print(delta, delta.dtype, type(delta),sep='\n')
# 把时间偏移量换算成天数
print(delta.dt.days)

0   14975 days 00:00:00
1   15006 days 00:00:00
2   15034 days 00:00:00
3   15065 days 00:00:00
4   15095 days 01:01:01
5   15126 days 00:00:00
6   15156 days 00:00:00
7   15187 days 00:00:00
dtype: timedelta64[ns]
timedelta64[ns]
<class 'pandas.core.series.Series'>
0    14975
1    15006
2    15034
3    15065
4    15095
5    15126
6    15156
7    15187
dtype: int64

In [5]:
#使用date_range()函数创建日期序列
# 以日为频率
datelist = pd.date_range('2019/08/21', periods=5)
print(datelist)
# 以月为频率
datelist = pd.date_range('2019/08/21', periods=5,freq='M')
print(datelist)
# 构建某个区间的时间序列
start = pd.datetime(2017, 11, 1)
end = pd.datetime(2017, 11, 5)
dates = pd.date_range(start, end)
print(dates)

DatetimeIndex(['2019-08-21', '2019-08-22', '2019-08-23', '2019-08-24',
               '2019-08-25'],
              dtype='datetime64[ns]', freq='D')
DatetimeIndex(['2019-08-31', '2019-09-30', '2019-10-31', '2019-11-30',
               '2019-12-31'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2017-11-01', '2017-11-02', '2017-11-03', '2017-11-04',
               '2017-11-05'],
              dtype='datetime64[ns]', freq='D')

C:\Users\40011\AppData\Local\Temp\ipykernel_3792\2074496330.py:9: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  start = pd.datetime(2017, 11, 1)
C:\Users\40011\AppData\Local\Temp\ipykernel_3792\2074496330.py:10: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  end = pd.datetime(2017, 11, 5)

In [6]:
#bdate_range()用来表示商业日期范围，
#不同于date_range()，它不包括星期六和星期天。
datelist = pd.bdate_range('2011/11/03', periods=5)
print(datelist)

DatetimeIndex(['2011-11-03', '2011-11-04', '2011-11-07', '2011-11-08',
               '2011-11-09'],
              dtype='datetime64[ns]', freq='B')

In [7]:
#DateFrame创建
# 创建一个空的DataFrame
df = pd.DataFrame()
print(df)
# 从列表创建DataFrame
data = [1,2,3,4,5] 
df = pd.DataFrame(data)
print(df)

data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

data = [['Alex',10],['Bob',12],['Clarke',13]]
df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)
print(df)

data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data)
print(df)

# 从字典来创建DataFrame
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['s1','s2','s3','s4'])
print(df)

data = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
        'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(data)
print(df)

Empty DataFrame
Columns: []
Index: []
   0
0  1
1  2
2  3
3  4
4  5
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
     Name   Age
0    Alex  10.0
1     Bob  12.0
2  Clarke  13.0
   a   b     c
0  1   2   NaN
1  5  10  20.0
     Name  Age
s1    Tom   28
s2   Jack   34
s3  Steve   29
s4  Ricky   42
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

C:\Users\40011\AppData\Local\Temp\ipykernel_3792\3938537032.py:15: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(data,columns=['Name','Age'],dtype=float)

In [8]:
#DF常用属性
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['s1','s2','s3','s4'])
df['score']=pd.Series([90, 80, 70, 60], index=['s1','s2','s3','s4'])
print(df)
print(df.axes)
print(df['Age'].dtype)
print(df.empty)   
print(df.ndim)
print(df.size)
print(df.values)
print(df.head(3)) # df的前三行
print(df.tail(3)) # df的后三行

     Name  Age  score
s1    Tom   28     90
s2   Jack   34     80
s3  Steve   29     70
s4  Ricky   42     60
[Index(['s1', 's2', 's3', 's4'], dtype='object'), Index(['Name', 'Age', 'score'], dtype='object')]
int64
False
2
12
[['Tom' 28 90]
 ['Jack' 34 80]
 ['Steve' 29 70]
 ['Ricky' 42 60]]
     Name  Age  score
s1    Tom   28     90
s2   Jack   34     80
s3  Steve   29     70
     Name  Age  score
s2   Jack   34     80
s3  Steve   29     70
s4  Ricky   42     60

In [9]:
#列访问
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([1, 3, 4], index=['a', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print(df['one'])
df[df.columns[:2]]

   one  two  three
a  1.0    1    1.0
b  2.0    2    NaN
c  3.0    3    3.0
d  NaN    4    4.0
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [10]:
#列添加
df['four']=pd.Series([90, 80, 70, 60], index=['a', 'b', 'c', 'd'])
print(df)

   one  two  three  four
a  1.0    1    1.0    90
b  2.0    2    NaN    80
c  3.0    3    3.0    70
d  NaN    4    4.0    60

In [11]:
#列删除
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd']), 
     'three' : pd.Series([10, 20, 30], index=['a', 'b', 'c'])}
df1 = pd.DataFrame(d)
print("dataframe is:")
print(df1)

# 删除一列： one
del(df1['one'])
print(df1)

#调用pop方法删除一列
df1.pop('two')
print(df1)


#如果想要删除多列呢？
#删除多列  drop 轴向axis=1是必须给的    默认axis=0删除行的 ,不会修改原数据
# inplace=False  不修改原数据
df2 = df.drop(['one','four'],axis=1)
print(df2)

dataframe is:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN
   two  three
a    1   10.0
b    2   20.0
c    3   30.0
d    4    NaN
   three
a   10.0
b   20.0
c   30.0
d    NaN
   two  three
a    1    1.0
b    2    NaN
c    3    3.0
d    4    4.0

In [12]:
#行访问
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']), 
    'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
print(df)
print(df[2:4])#直接行切片

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
   one  two
c  3.0    3
d  NaN    4

In [13]:
#loc只支持索引名称，不支持索引位置
d = {'one' : pd.Series(['1', 2, 3], index=['a', 'b', 'c']), 
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df)
print(df.loc['b'],type(df.loc['a']),sep='\n')#series
print(df.loc[['a', 'b']])#dataframe

   one  two
a    1    1
b    2    2
c    3    3
d  NaN    4
one    2
two    2
Name: b, dtype: object
<class 'pandas.core.series.Series'>
  one  two
a   1    1
b   2    2

In [14]:
#iloc接收的必须是行索引和列索引的位置
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
     'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print(df.iloc[2])
print(df.iloc[[2, 3]])

one    3.0
two    3.0
Name: c, dtype: float64
   one  two
c  3.0    3
d  NaN    4

In [15]:
#行添加
df = pd.DataFrame([['zs', 12], ['ls', 4]], columns = ['Name','Age'])
df2 = pd.DataFrame([['ww', 16], ['zl', 8]], columns = ['Name','Age'])

df = df.append(df2)
print(df)

  Name  Age
0   zs   12
1   ls    4
0   ww   16
1   zl    8

C:\Users\40011\AppData\Local\Temp\ipykernel_3792\3333292829.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [16]:
#行删除
df = pd.DataFrame([['zs', 12], ['ls', 4]], columns = ['Name','Age'])
df2 = pd.DataFrame([['ww', 16], ['zl', 8]], columns = ['Name','Age'])
df = df.append(df2)
print(df)
# 删除index为0的行
df = df.drop(0)
print(df)

  Name  Age
0   zs   12
1   ls    4
0   ww   16
1   zl    8
  Name  Age
1   ls    4
1   zl    8

C:\Users\40011\AppData\Local\Temp\ipykernel_3792\2020705555.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)

In [17]:
#访问数据、修改数据dataframe

df = pd.DataFrame([['zs', 12], ['ls', 4]], columns = ['Name','Age'])
df2 = pd.DataFrame([['ww', 16], ['zl', 8]], columns = ['Name','Age'])
df = df.append(df2)
print(df)
df['Name'][0] = 'Tom'
print(df)
print(df.iloc[0]['Age'])

  Name  Age
0   zs   12
1   ls    4
0   ww   16
1   zl    8
  Name  Age
0  Tom   12
1   ls    4
0  Tom   16
1   zl    8
12

C:\Users\40011\AppData\Local\Temp\ipykernel_3792\4170595838.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df2)
C:\Users\40011\AppData\Local\Temp\ipykernel_3792\4170595838.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Name'][0] = 'Tom'

In [18]:
#复合索引
data = np.floor(np.random.normal(85, 3, (6,3)))
df = pd.DataFrame(data)
print(df)
index = [('classA', 'F'), ('classA', 'M'), ('classB', 'F'), ('classB', 'M'), ('classC', 'F'), ('classC', 'M')]

df.index = pd.MultiIndex.from_tuples(index)
columns = [('Age', '20+'), ('Age', '30+'), ('Age', '40+')]
df.columns = pd.MultiIndex.from_tuples(columns)
print(df)

      0     1     2
0  80.0  83.0  82.0
1  80.0  80.0  86.0
2  84.0  80.0  87.0
3  84.0  85.0  83.0
4  89.0  84.0  84.0
5  87.0  85.0  84.0
           Age
           20+   30+   40+
classA F  80.0  83.0  82.0
       M  80.0  80.0  86.0
classB F  84.0  80.0  87.0
       M  84.0  85.0  83.0
classC F  89.0  84.0  84.0
       M  87.0  85.0  84.0

In [19]:
#复合索引访问
# 访问行
print(df.loc['classA'])
print(df.loc['classA', 'F'])
print(df.loc[['classA', 'classC']])

# 访问列
print(df.Age)
print(df.Age['20+'])
print(df['Age'])
print(df['Age', '20+'])

    Age
    20+   30+   40+
F  80.0  83.0  82.0
M  80.0  80.0  86.0
Age  20+    80.0
     30+    83.0
     40+    82.0
Name: (classA, F), dtype: float64
           Age
           20+   30+   40+
classA F  80.0  83.0  82.0
       M  80.0  80.0  86.0
classC F  89.0  84.0  84.0
       M  87.0  85.0  84.0
           20+   30+   40+
classA F  80.0  83.0  82.0
       M  80.0  80.0  86.0
classB F  84.0  80.0  87.0
       M  84.0  85.0  83.0
classC F  89.0  84.0  84.0
       M  87.0  85.0  84.0
classA  F    80.0
        M    80.0
classB  F    84.0
        M    84.0
classC  F    89.0
        M    87.0
Name: 20+, dtype: float64
           20+   30+   40+
classA F  80.0  83.0  82.0
       M  80.0  80.0  86.0
classB F  84.0  80.0  87.0
       M  84.0  85.0  83.0
classC F  89.0  84.0  84.0
       M  87.0  85.0  84.0
classA  F    80.0
        M    80.0
classB  F    84.0
        M    84.0
classC  F    89.0
        M    87.0
Name: (Age, 20+), dtype: float64

In [20]:
#数据加载
#处理普通文本
#读取文本：read_csv()
#csv文件 逗号分隔符文件 数据与数据之间使用逗号分隔
df = pd.read_csv('CustomerSurvival.csv', header=None, index_col=0)
df.head()

   1        2       3  4  5  6  7   8  9
0
1  1   792.83  -10.45  0  0  0  0  25  0
2  1   121.67  -21.14  0  0  0  0  25  0
3  1   -30.00  -25.66  0  0  0  0   2  1
4  1   241.50 -288.34  0  1  0  1  25  0
5  1  1629.67  -23.66  0  0  0  1  25  0

In [21]:
#读取json
ratings = pd.read_json('./data_test/ratings.json')
print(ratings)

                  John Carson  Michelle Peterson  William Reynolds  \
Inception                 2.5                3.0               2.5
Pulp Fiction              3.5                3.5               3.0
Anger Management          3.0                1.5               NaN
Fracture                  3.5                5.0               3.5
Serendipity               2.5                3.5               NaN
Jerry Maguire             3.0                3.0               4.0

                  Jillian Hobart  Melissa Jones  Alex Roberts  Michael Henry
Inception                    NaN              3           3.0            NaN
Pulp Fiction                 3.5              4           4.0            4.5
Anger Management             3.0              2           NaN            NaN
Fracture                     4.0              3           5.0            4.0
Serendipity                  2.5              2           3.5            1.0
Jerry Maguire                4.5              3           3.0            NaN

In [22]:
#写入json
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['s1','s2','s3','s4'])
print(df)
df.to_json('test.json',orient='records')

     Name  Age
s1    Tom   28
s2   Jack   34
s3  Steve   29
s4  Ricky   42

In [23]:
#数值统计
#算数平均值
mean = ratings['John Carson'].mean()
print(np.mean(ratings['John Carson']))
ratings.mean(axis=1)

3.0

Inception           2.800000
Pulp Fiction        3.714286
Anger Management    2.375000
Fracture            4.000000
Serendipity         2.500000
Jerry Maguire       3.416667
dtype: float64

In [28]:
#加权平均值
w = np.array([3,1,1,1,1,1,1])
print(np.average(ratings.loc['Inception'], weights=w))

mask = ~pd.isna(ratings.loc['Inception']) 
print(np.average(ratings.loc['Inception'][mask], weights=w[mask]))

nan
2.7142857142857144

In [29]:
#最值
# 产生9个介于[10, 100)区间的随机数
a = np.random.randint(10, 100, 9)
print(a)
print(np.max(a), np.min(a), np.ptp(a))

[30 16 14 89 64 62 67 55 10]
89 10 79

In [32]:
#在np中，使用argmax获取到最大值的下标
print(np.argmax(a), np.argmin(a))

#在pandas中，使用idxmax获取到最大值的下标
# print(series.idxmax(), series.idxmin())
# print(dataframe.idxmax(), dataframe.idxmin())

3 8

In [36]:
#中位数
closing_prices = np.loadtxt('./data_test/aapl.csv', delimiter=',', usecols=(6), unpack=True)
size = closing_prices.size
print(closing_prices)
sorted_prices = np.msort(closing_prices)
print(sorted_prices)
median = (sorted_prices[int((size - 1) / 2)] + 
          sorted_prices[int(size / 2)]) / 2
print(median)
median = np.median(closing_prices)
print(median)

[336.1  339.32 345.03 344.32 343.44 346.5  351.88 355.2  358.16 354.54
 356.85 359.18 359.9  363.13 358.3  350.56 338.61 342.62 342.88 348.16
 353.21 349.31 352.12 359.56 360.   355.36 355.76 352.47 346.67 351.99]
[336.1  338.61 339.32 342.62 342.88 343.44 344.32 345.03 346.5  346.67
 348.16 349.31 350.56 351.88 351.99 352.12 352.47 353.21 354.54 355.2
 355.36 355.76 356.85 358.16 358.3  359.18 359.56 359.9  360.   363.13]
352.055
352.055

In [37]:
#标准差
ratings.std(axis=0)

John Carson          0.447214
Michelle Peterson    1.129159
William Reynolds     0.645497
Jillian Hobart       0.790569
Melissa Jones        0.752773
Alex Roberts         0.836660
Michael Henry        1.892969
dtype: float64